// Fonts

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
             url('#{$file-path}.woff') format('woff'),
             url('#{$file-path}.ttf') format('truetype'),
             url('#{$file-path}.svg##{$font-family}') format('svg');
      font-weight: $font-weight;
      font-style: $font-style;
    }
}



// Media Queries

$small: 320px;
$medium: 900px;
$large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == hand-landscape {
    @media only screen and (orientation: landscape) { @content; }
  }
  @else if $media == small-screens {
    @media only screen and (min-width: $small + 1) and (max-width: $small + 300) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small + 300) and (max-width: $medium - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large) { @content; }
  }
}