@import '_mixins.scss';

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.ft-l {
    float: left;
}

.ft-r {
    float: right;
}

.comment {
    .img-wrap, textarea {
        border: 2px solid #ebedee;
        border-radius: 5px;
    }

    .img-wrap {
        padding: 2px;

        img {
            border-radius: 4px;

            @include respond-to(handhelds) {
                width: 20px;
            }
        }
    }

    .comment-wrap {
        margin-bottom: 24px;
    }

    .comment-i {
        margin-left: 75px;

        @include respond-to(medium-screens) {
            margin-left: 65px;
        }
        
        @include respond-to(handhelds) {
            margin-left: 38px;
        }
    }

    &.new {
        .comment-i {
            margin-left: 75px;

            @include respond-to(handhelds) {
                margin-left: 38px;
            }
        }
    }

    .comment-text {
        color: #454545;
        font-family: 'Stag Book';
        font-size: 17px;
        margin: 17px 0;
    }

    textarea {
        box-sizing: border-box;
        color: #454545;
        display: block;
        font-size: 17px;
        font-family: 'Stag Book';
        height: 86px;
        margin-bottom: 10px;
        padding: 14px;
        width: 100%;

        &::placeholder {
            color: #ebedee;
        }
    }

    input[type=submit] {
        background-color: #f1c40f;
        border-radius: 4px;
        border: none;
        color: #454545;
        cursor: pointer;
        font-size: 17px;
        font-family: 'Stag Medium';
        height: 44px;
        outline: none;
        width: 140px;

        @include respond-to(handhelds) {
            width: 100%;
        }

        &:hover {
            background-color: #eec942;
        }

        &:active {
            margin-bottom: -2px;
            margin-top: 2px;
        }
    }
}