<section class="early-comments" *ngIf="_dataService.comments">
    <div class="comment">
        <ul class="early-comments-l">
            <li class="early-comments-l-i" *ngFor="let comment of _dataService.comments">
                <div class="comment-content clearfix">
                    <div class="img-wrap ft-l">
                        <img src="{{comment.author.avatar}}" alt="" class="photo">
                    </div>
                    <div class="comment-i clearfix">
                        <div class="comment-wrap">
                            <div class="comment-info clearfix">
                                <span class="comment-info-i ft-l name">{{comment.author.name}}</span>
                                <span class="comment-info-i ft-l"></span>
                                <div class="comment-info-i ft-l time info-block">
                                    <div class="info-block-i">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span class="time"><strong>{{comment.created_at | date:'y-m-d'}}</strong> at  <strong>{{comment.created_at | date:'hh:mm:ss'}}</strong></span>
                                    </div>
                                </div>
                            </div>
                            <p class="comment-text">{{comment.content}}</p>
                            <ul class="comment-manage clearfix">
                                <li class="manage-link ft-l" *ngIf="_dataService.userId === comment.author.id">
                                    <i class="fa fa-pencil-square-o ft-l" aria-hidden="true"></i>
                                    <span class="ft-l" data-id="{{comment.id}}" (click)="replyToggle($event, false)">Edit</span>
                                </li>
                                <li class="manage-link cancel ft-l" *ngIf="_dataService.userId === comment.author.id">
                                    <i class="fa fa-times ft-l" aria-hidden="true"></i>
                                    <span class="ft-l" data-id="{{comment.id}}" (click)="removeComment($event)">Delete</span>
                                </li>
                                <li class="manage-link ft-l">
                                    <i class="fa fa-reply ft-l" aria-hidden="true"></i>
                                    <span class="ft-l {{comment.id}}" data-id="{{comment.id}}" (click)="replyToggle($event, true);">Reply</span>
                                </li>
                            </ul>
                        </div>
        
                        <form action="" class="clearfix reply-form" name="{{comment.id}}" [hidden]="!replyOpen" #editForm="ngForm" (ngSubmit)="editComment(comment.id, editForm.value, isReplyForm)" method="put">
                            <div class="reply-manage clearfix">
                                <p class="reply-name manage-link ft-l">
                                    <i *ngIf="isReplyForm" class="fa fa-reply ft-l" aria-hidden="true"></i>
                                    <span class="ft-l" [ngClass]="{ 'edit-head' : !isReplyForm }">{{ isReplyForm ? comment.author.name :  'Edit message'}}</span>
                                </p>
                                <p class="manage-link cancel ft-r">
                                    <i class="fa fa-times ft-l" aria-hidden="true"></i>
                                    <span class="ft-l" data-id="{{comment.id}}" (click)="replyToggle($event)">Cancel</span>
                                </p>
                            </div>
                            <textarea name="editComment" id="" cols="30" rows="10" placeholder="Your Message" ngModel="{{ !isReplyForm ? comment.content :  ''}}"></textarea>
                            <input type="submit" class="ft-r" value="Send">
                        </form>
        

                        <section class="answers-wrap" *ngIf="comment.children && comment.children.length > 0" >
                            <ul class="answers-l" *ngFor="let answer of comment.children">
                                <li class="answers-l-i">
                                    <div class="comment-content clearfix">
                                        <div class="img-wrap ft-l">
                                            <img src="{{answer.author.avatar}}" alt="" class="photo">
                                        </div>
            
                                        <div class="comment-i">
                                            <div class="comment-info clearfix">
                                                <span class="comment-info-i ft-l name">{{answer.author.name}}</span>
                                                <span class="comment-info-i ft-l"></span>
                                                <div class="comment-info-i ft-l time info-block">
                                                    <div class="info-block-i">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        <span class="time"><strong>{{answer.created_at | date:'y-m-d'}}</strong> at  <strong>{{answer.created_at | date:'hh:mm:ss'}}</strong></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="comment-text">{{answer.content}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </section>

                    </div>
                </div>
            </li>
        </ul>

    </div>

</section>